{% extends "base.html" %}

{% block title %}
새 글 작성하기
{% endblock title %}

{% block content %}
<h1>새 글 작성하기</h1>
<form action="{%url 'create'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    제목 : <input type="text" name="title" value="{{edit_blog.title}}"/>
    본문 : <textarea name="content" id="" cols="30" >{{ edit_blog.content }}</textarea>
    사진 : <input type="file" name="image" >
    <input type="submit" value="작성하기"/>
</form>
{% endblock content %}


